# Created by http://gitignore.io

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

### Compass ###
.sass-cache

### SASS ###
### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache

### Bower ###
bower_components


### SublimeText ###
# SublimeText project files
*.sublime-workspace

compile.bat